:root{
    --background: #393939;
    --foreground: #ffffff;
    --shadow: #000000;
    --radius: var(--radius);
}

*{
    margin: 0;
    font-family: 'Roboto',sans-serif,monospace;
}

body{
    background: var(--background) ;
}

#topbar{
    /*background: #393939;*/
    position: absolute;
    left: 20px;
    right: 20px;
    height: 50px;
    top: 20px;
    border-radius: var(--radius);
    padding: 0;
    /*box-shadow: 0px 0px 10px black ;*/
}



.toolbarButton{
    text-align: center;
    justify-content: center;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    float:left;
    border-radius: var(--radius);
    
    user-select: none;
    background: var(--background);
    box-shadow: 0px 0px 10px var(--shadow) ;
}
.toolbarButton:hover{
    animation: 0.2s zoom ease forwards;
    box-shadow: 0px 0px 15px var(--shadow) ;
    float:left;

}

#searchBarContainer{
    margin-left: 10px;
    
    background-color: black;
}
#searchBarContainer input{
    font-size:18px;
    padding: 10px;
    outline: transparent;
    height:50px;
    border-radius: var(--radius);
    appearance: none;
    background: var(--background);
    color: var(--text);
    border: 0px solid transparent;
}
.toolbarButton:active{
    box-shadow: 0px 0px 20px var(--shadow) ;
    float:left;
    animation: clickCollapse 0.2s ease forwards;
}

#notesDiv{
    position: absolute;
    top:80px;
    left:10px;
    right:10px;
    bottom:10px;
    color:var(--foreground);
    
}

.note{
    border-radius: var(--radius);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px var(--shadow) ;
}

.note:hover{
    box-shadow: 0px 0px 15px var(--shadow) ;
    animation: 0.2s zoom ease forwards;
}

@keyframes zoom{
    to{
        transform: scale(1.05);
    }
}

@keyframes clickCollapse{
    to{
        transform: scale(0.95);
    }
}

.note h6{
    font-weight:600;
    font-size:18px;
}

.note:active{
    box-shadow: 0px 0px 20px var(--shadow) ;
    animation: clickCollapse 0.2s ease forwards;
}
.dialogBox{
    border-radius: var(--radius);
    padding: 20px;
    background-color: var(--background);
    color:var(--foreground);
    animation: pop 0.1s ease forwards;
}

.dialogBox span,textarea{
    display: block;
    border-radius: var(--radius);
    border: none;
}

.dialogBox textarea{
    background-color: #393939;
    color:white;
    box-shadow: rgba(0,0,0,0.6) 0px 0px 15px;
    outline: transparent;
    padding: 10px;
    width: 300px;
    height: 150px;
    margin: 10px;
}

.collapsebox{
    animation: collapse 0.1s ease forwards;
}

@keyframes pop {
    from{
        transform: scale(0.75);
        opacity: 0.5;
    }
    to{
       transform: scale(1);
       opacity: 1;
    }
}
@keyframes collapse {
    to{
        transform: scale(0.75);
        opacity: 0;
    }
}
.dialogBox input[type="text"]{
    background-color: var(--background);
    color:white;
    box-shadow: rgba(0,0,0,0.6) 0px 0px 15px;
    outline: transparent;
    padding: 10px;
    width: 300px;
    
    border-radius: var(--radius);
}
.dialogBox input[type="text"]{
    box-shadow: rgba(0,0,0,0.85) 0px 0px 15px;
}
.dialogBox textarea:hover{
    box-shadow: rgba(0,0,0,0.85) 0px 0px 15px;
    animation: 0.2s zoom ease forwards;
}
.dialogBox input[type="text"]{
    box-shadow: rgba(0,0,0,1) 0px 0px 15px;
    
}
.dialogBox textarea:focus{
    box-shadow: rgba(0,0,0,1) 0px 0px 15px;
    
}

.dialogBox button{
    background-color: transparent;
    border:none;
    
    padding: 10px;
    border-radius: var(--radius);
    font-size: 14px;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.6) 0px 0px 15px;
    
    float:right;
}

.dialogBox *{
    margin: 5px;
    display: block;
    
}
.dialogBox button:hover{
    background-color: rgba(255,255,255,0.1);
    box-shadow: rgba(0,0,0,0.8) 0px 0px 15px;
    animation: 0.2s zoom ease forwards;
}
.dialogBox button:active{
    background-color: rgba(255,255,255,0.6);
    box-shadow: rgba(0,0,0,1) 0px 0px 15px;
    animation: clickCollapse 0.2s ease forwards;
}

.dialogBox input[type="color"]{
    display: inline-block;
}

input[type="color"]{
    width: 30px;
    height: 30px;
    border-radius: var(--radius);
    border: none;
    padding: 0;
    appearance: none;
    background: none;
    cursor: pointer;
    float:left;
}

input[type="color"]::-webkit-color-swatch-wrapper{
    padding:0;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: var(--radius);
    border: solid 1px transparent;

    box-shadow: rgba(0,0,0,1) 0px 0px 10px;
}

input[type="color"]:hover{
    animation: 0.2s zoom ease forwards;
    box-shadow: rgba(0,0,0,0.7) 0px 0px 10px;
}

