@import "tailwindcss";
@tailwind utilities;

@theme inline {
  --color-background: hsl(0 0% 3%);
  --color-card: hsl(228 14% 7%);
  --color-secondary: hsl(230 12% 10%);
  --color-primary: hsl(214 64% 44%);
  --color-primary-text: hsl(214 56% 69%);
  --color-border: hsl(0 0% 26%);
}

:root {
  --background: hsl(0 0% 3%);
  --card: hsl(228 14% 7%);
  --secondary: hsl(230 12% 10%);
  --primary: hsl(214 64% 44%);
  --border: hsl(0 0% 26%);
}

* {
  @apply border-border;
}

body {
  @apply w-full h-full absolute left-0 top-0 m-0 p-0 bg-background text-xl md:text-2xl;
  box-sizing: border-box;
  font-family: "Karla", "Inter", sans-serif;
  color: white;
}

a:not(.text-white) {
  @apply text-primary-text hover:underline;
}

code {
  @apply bg-white/5 p-3 rounded-lg;
}

header {
  background: hsl(216 26% 4% / 0);
  transition-property: background;
  transition-duration: 100ms;
}

.scrolled header {
  background: hsl(216 26% 4% / 0.8);
}

header a:not(.logo):not(.download-btn) {
  @apply text-white hidden sm:flex text-xl px-3 py-2 cursor-pointer hover:bg-white/5 hover:no-underline rounded-lg shrink-0;
}

.docs-sidebar a {
  @apply px-3 py-2 rounded-lg hover:bg-white/5 text-white;
}
