/* roboto-black */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url(roboto-black.woff2) format("woff2");
}
/* roboto-black-italic */
@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 900;
	src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url(roboto-black-italic.woff2) format("woff2");
}
/* roboto-bold */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url(roboto-bold.woff2) format("woff2");
}
/* roboto-bold-italic */
@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(roboto-bold-italic.woff2) format("woff2");
}
/* roboto-italic */
@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url(roboto-italic.woff2) format("woff2");
}
/* roboto-light */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url(roboto-light.woff2) format("woff2");
}
/* roboto-light-italic */
@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(roboto-light-italic.woff2) format("woff2");
}
/* roboto-medium */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url(roboto-medium.woff2) format("woff2");
}
/* roboto-medium-italic */
@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(roboto-medium-italic.woff2) format("woff2");
}
/* roboto */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url(roboto.woff2) format("woff2");
}
/* roboto-thin */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	src: local("Roboto Thin"), local("Roboto-Thin"), url(roboto-thin.woff2) format("woff2");
}
/* roboto-thin-italic */
@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 100;
	src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url(roboto-thin-italic.woff2) format("woff2");
}

