@import "tailwindcss";
@reference "../../../globals.css";

strong {
  color: inherit !important;
}

.ProseMirror {
  h1,
  h2,
  h3,
  h4 {
    color: var(--dw-editor-foreground);
    @apply m-0 mt-3;
  }

  h1 {
    @apply font-bold text-3xl;
  }

  h2 {
    @apply font-bold text-2xl;
  }
  h3 {
    @apply font-bold text-lg;
  }
  h4 {
    @apply font-semibold text-lg;
  }
  hr {
    @apply mb-2 opacity-30;
  }
  p {
    @apply my-1;
  }

  pre {
    code {
      @apply text-foreground;
      .hljs-comment,
      .hljs-quote {
        @apply text-foreground/70;
      }

      font-family: var(--darkwrite-mono), ui-monospace, monospace;

      .hljs-variable,
      .hljs-template-variable,
      .hljs-attribute,
      .hljs-tag,
      .hljs-regexp,
      .hljs-link,
      .hljs-name,
      .hljs-selector-id,
      .hljs-selector-class {
        color: var(--editor-text-red);
      }

      .hljs-number,
      .hljs-meta,
      .hljs-built_in,
      .hljs-builtin-name,
      .hljs-literal,
      .hljs-type,
      .hljs-params {
        color: var(--editor-text-orange);
      }

      .hljs-string,
      .hljs-symbol,
      .hljs-bullet {
        color: var(--editor-text-green);
      }

      .hljs-title,
      .hljs-section {
        color: var(--editor-text-yellow);
      }

      .hljs-keyword,
      .hljs-selector-tag {
        color: var(--editor-text-blue);
      }

      .hljs-emphasis {
        font-style: italic;
      }

      .hljs-strong {
        font-weight: 700;
      }
    }
  }
}

blockquote {
  margin-top: 8px;
  margin-bottom: 8px;
}
