@import "tailwindcss";
@reference "./globals.css";

html, body, #root {
  height: 100vh;
}

:root {
  --dw-editor-foreground: var(--foreground);
  --dw-editor-background: transparent;
}

.json-view {
  font-family: "FantasqueSansM Nerd Font Mono", "SpaceMono Nerd Font", "Cascadia Mono", monospace;
}