@import "tailwindcss";

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 7%);
  --foreground: hsl(0 0% 100%);

  --view-1: hsl(0 0% 10%);
  --view-2: hsl(0 0% 15%);

  --card: hsl(0 0% 13%);
  --card-foreground: hsl(0 0% 94%);

  --popover: hsl(0 0% 9%);
  --popover-foreground: hsl(0 0% 94%);

  --primary: hsl(214 100% 45%);
  --primary-foreground: hsl(0 0% 100%);
  --primary-text: hsl(242 58% 62%);

  --secondary: hsl(0 0% 20%);
  --secondary-foreground: hsl(0 0% 100%);

  --muted: hsl(0 0% 17%);
  --muted-foreground: hsl(0 0% 89%);

  --accent: hsl(217.2 32.6% 17.5%);
  --accent-foreground: hsl(210 40% 98%);

  --destructive: hsl(0 51% 55%);
  --destructive-foreground: hsl(210 40% 98%);

  --disabled: hsl(0 0% 22%);

  --border: hsl(0 0% 26%);
  --input: hsl(217.2 32.6% 17.5%);
  --ring: hsl(212.7 26.8% 50%);

  --radius: 0.5rem;

  --star: hsl(50 97% 63%);

  /* generic fonts until its loaded from settings */
  --darkwrite-sans: "Segoe UI", "Noto Sans", "Roboto", sans-serif;
  --darkwrite-serif: "Times New Roman", "Noto Serif", "Liberation Serif", serif;
  --darkwrite-mono: "Cascadia Code", "Courier New", "Liberation Mono", monospace;
  --font-ui: "";
}

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-text: var(--primary-text);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-view-1: var(--view-1);
  --color-view-2: var(--view-2);

  --color-disabled: var(--disabled);
  --color-star: var(--star);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
* {
  @apply border-border outline-ring/50;
}