@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 7%;
      --foreground: 0 0% 100%;

      --view-1: 0 0% 10%;
      --view-2: 0 0% 15%;

      --card: 0 0% 13%;
      --card-foreground: 0 0% 94%;

      --popover: 0 0% 9%;
      --popover-foreground: 0 0% 94%;

      --primary: 242 42% 31%;
      --primary-foreground: 0 0% 100%;
      --primary-text: 242 58% 62%;

      --secondary: 0 0% 20%;
      --secondary-foreground: 0 0% 100%;

      --muted: 0 0% 17%;
      --muted-foreground: 0 0% 89%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 51% 55%;
      --destructive-foreground: 210 40% 98%;

      --disabled: 0 0% 22%;

      --border: 0 0% 26%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;

      --radius: 0.5rem;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground w-full h-full m-0;
    }
    #root{
      @apply w-full h-full m-0 p-0;
    }
    .titlebar{
      -webkit-app-region: drag;
      -webkit-user-select: none;
      user-select: none;
    }

  }

html, body, #root, #root>div{
  height: 100%;
  width: 100%;
}

.resize-handle{
  pointer-events: none;
}

.resize-handle::before{
  content: '';
  height: 100%;
  position: absolute;
  left: -16px;
  right: -16px;
  background: rgba(255,0,0,0.1);
  z-index: 20;
  cursor: ew-resize;
  pointer-events: all;
}