@tailwind base;
@tailwind components;
@tailwind utilities; 
@tailwind variants;


@layer components{
    .search-box{
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 16px;
    }
}


:root{
    --background-default:255 255 255;
    --shadow: rgba(0,0,0,0.2);
    --text-default: black;
    --font: "Roboto";
    --border: none;
    --background-secondary:229 229 229;
    --background-hover:231 231 231;
    --background-active:239 239 239;
    --accent: 87 104 255;
    --background-disabled: 204 204 204;
    --text-disabled: 153 153 153;
}

html{
    overflow-y:hidden;
    font-family: var(--font);
}

.app_root{
    background-color: var(--background-default);
    color:var(--text-default);
    overflow-y:hidden;
}

.background-secondary{
    @apply bg-secondary;
}
.text-default{
    color: var(--text-default);
}

input[type=text]:not(#taskInput){
    color: var(--text-default);
}

.hide-outline:focus{
    outline:none;
}

.box-shadow-4-8-20{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,.2);
}

.toolbar-button{
    @apply h-12 transition-all box-shadow-4-8-20 text-default backdrop-blur-md bg-secondary duration-200 w-12 rounded-2xl flex cursor-pointer align-middle justify-center items-center; 
}

.toolbar-button-accent{
    @apply h-12 transition-all box-shadow-4-8-20 text-white backdrop-blur-md bg-accent duration-200 w-12 rounded-2xl flex cursor-pointer align-middle justify-center items-center;
   
}

.toolbar-button-accent:hover{
    @apply brightness-110;
}
.task-item{
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

.task-item .task-delete-button{
    visibility:hidden;
}

.task-item:hover .task-delete-button{
    visibility: visible;
}

.toolbar-button:hover,.task-item:hover{
    @apply bg-hover;
}
.toolbar-button:active,.task-item:active{
    @apply bg-active;
}

.flex-right{
    margin-left: auto;
    order:2; 
}

.open{
    @apply left-2;
}

input[type=color]{
    appearance: none;
    -webkit-appearance: none;
    box-shadow: 0 2px 8px 0 rgba(0,0,0, 0.1);
}

input[type=color]::-webkit-color-swatch{
    border:none;
    @apply rounded-lg;

}

input[type=color]::-webkit-color-swatch-wrapper{
    padding:0%
}

.note-shadow{
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
}

.checkbox-shadow{
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #999;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    display:block;
    width: 2px;
    border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover{
    background: #777;
}

#mainToolbar > *:not(:first-child){
    margin-left: 8px;
}

.sidebar-open{
    width: 18rem !important;
}

.sidebar-closed{
    width: 0px !important;
    margin-right: 0px !important;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width:100%;
    height: 4px;
    background: linear-gradient(to right, rgb(var(--accent)) 0%, rgb(var(--accent)) 50%, rgb(var(--background-secondary)) 50%, rgb(var(--background-secondary)));
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.2));
    outline: none;
    border-radius: 99px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 999px;
    cursor: pointer;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.2));
    background: white;
}

.select1{
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 4px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4.5px 0 rgba(0,0,0, 0.2);
}

.font-select{
    appearance: none;
    background-color: rgb(var(--background-secondary));
    border: none;
    padding: 4px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0, 0.1);
    font-size: 16px;
    display: grid;
}

.box-shadow-0-2-8-0{
    box-shadow: 0 2px 8px 0 rgba(0,0,0, 0.1);
}

.select1:hover{
    background: rgb(var(--background-hover));
}

#moveToNotebookItem ul{
    visibility: collapse;
}

#moveToNotebookItem:hover ul{
    visibility: visible;
}
