@tailwind base;
@tailwind components;
@tailwind utilities; 
@tailwind variants;
:root{
    --background-default:255, 255, 255;
    --shadow: rgba(0,0,0,0.2);
    --text-default: black;
    --font: "Roboto";
    --border: none;
    --background-secondary:229, 229, 229;
    --background-hover:231, 231, 231;
    --background-active:239, 239, 239;
    --accent: 87 104 255;
    --font-serif: "Roboto Slab";
    --font-sans: "Roboto";
    --font-mono: "Roboto Mono";
    --font-hand: "Yellowtail";
}

.app_root{
    background-color: var(--background-default);
    color:var(--text-default);
    font-family: var(--font);
}

.border-default{
    border: var(--border);
}

.shadow-default{
    @apply shadow-black/20;
} 
.shadow-default-hover{
    @apply shadow-default transition-shadow duration-200;
}

.shadow-default-hover:hover{
    box-shadow: 0px 6px 18px -4px var(--shadow);
}
.background-default{
    @apply bg-primary;
}
.background-secondary{
    @apply bg-secondary;
}
.text-default{
    color: var(--text-default);
}

.dropdown{
    @apply appearance-none background-secondary border-default text-default shadow-default-hover p-2 rounded-xl cursor-pointer;
}

input[type=text]:not(#taskInput){
    color: var(--text-default);
    
    @apply border-default;
}

input[type=time]{
    background-color: var(--background-default);
    color: var(--text-default);
    @apply shadow-default rounded-xl p-2 border-default;
}

.button{
    @apply background-default shadow-default-hover rounded-xl p-4 cursor-pointer;
}

.hide-outline:focus{
    outline:none;
}

.toolbar-button{
    @apply h-12 transition-all text-default backdrop-blur-md bg-secondary/20 duration-200 w-12 mx-1 rounded-2xl flex cursor-pointer align-middle justify-center items-center;
}

.toolbar-button-accent{
    @apply h-12 transition-all text-white backdrop-blur-md bg-accent/40 duration-200 w-12 mx-1 rounded-2xl flex cursor-pointer align-middle justify-center items-center;
}
.toolbar-button-accent:hover{
    @apply brightness-110;
}
.task-item{
    @apply flex items-center;
}

.task-item .task-delete-button{
    visibility:hidden;
}

.task-item:hover .task-delete-button{
    visibility: visible;
}

.toolbar-button:hover,.task-item:hover{
    @apply bg-hover/50;
}
.toolbar-button:active,.task-item:active{
    @apply bg-active/50;
}
.no-shadow{
    box-shadow: none;
}

.block{
    display:block;
}

.hidden{
    display:none;
}


.flex-right{
    margin-left: auto;
    order:2;
}



@layer components{
    .search-box{
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 16px;
    }
}

.open{
    @apply left-2;
}

input[type=color]{
    appearance: none;
    -webkit-appearance: none;
}

input[type=color]::-webkit-color-swatch{
    border:none;
    @apply rounded-lg;

}

input[type=color]::-webkit-color-swatch-wrapper{
    padding:0%
}

.f-serif{
    font-family: var(--font-serif);
}

.f-sans{
    font-family: var(--font-sans);
}

.f-mono{
    font-family: var(--font-mono);
}

.f-hand{
    font-family: var(--font-hand);
}


